//This code is public domain.
#include "msim.h"

void setMyWallData();//this func genarated by map2Ccode.sh


int main(){

  setMyWallData();//this func genarated by map2Ccode.sh
  
  /**** オプションをあなたの好みで指定してください ****/
  msim_setOptions(flag_draw_on_move);
  /**/

  msim_printMap();

  /**** ここで ADATI_HOU_DE_GOAL_NI_IKU() 等の関数を呼んでください ****/

  

  /**************************************************************/
  
  return 0;
}

